<section class="parallax-content text-center" data-stellar-background-ratio="0.4" style="background: url('<%= image_url %>') no-repeat center fixed; background-size: cover">
  <div class="overlay"></div>
  <div class="container">
    <h4><%= title %></h4>
    <p><%= description %></p>
  </div>
</section>
