<div class="intro page_head text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= page_name %></h3>
        <p><%= page_description %></p>
      </div>
    </div>
  </div>
</div>
