<% user_facing_flashes.each do |key, value| %>
  <% alert_class = case key
                   when "notice" then "info"
                   when "alert" then "warning"
                   when "error" then "danger"
                   else key
                   end %>
  <%= content_tag :div, class: "notices alert alert-#{alert_class}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  <% end %>
<% end %>
